body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  background-color: #bde0fe !important;
}
/*

-> primary: #a2d2ff
-> secondary: #ffc8dd
-> tertiary: #cdb4db
-> text: #ffafcc
-> background: #bde0fe
-> Success: #40916c
-> Danger: #c1121f
-> Warning: #f8961e
-> Info: #bde0fe

*/
